/* Стили для всплывающих элементов FAQ */
.faq-item {
	cursor: pointer;
	margin-bottom: 20px;
}

.faq-question {
	position: relative;
	padding-right: 30px; /* Добавляем отступ справа для иконки */
}

.faq-question::after {
	content: '+';
	position: absolute;
	right: 15px;
	top: 31%;
	transform: translateY(-50%);
	font-size: 18px;
	font-weight: bold;
	color: var(--color-orange);
	transition: transform 0.3s ease;
}

.faq-item.open .faq-question::after {
	transform: translateY(-50%) rotate(45deg);
}

.faq-answer {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease, padding 0.3s ease;
	padding: 0;
	opacity: 0;
}

.faq-item.open .faq-answer {
	max-height: 500px; /* Достаточно большое значение для любого текста */
	padding: 10px 0 0 0;
	opacity: 1;
	padding-left: 30px;
}
